/*! Amidst v0.0.1 | MIT License | github.com/matssom/amidst.git */

/* 
    Makes every element inherit box-sizing from the body
*/
*,
*::before,
*::after {
	box-sizing: inherit;
}

/*
    (1) Setting the default font-size to 62.5% of the user agent stylesheet.
        This results in 1rem beeing equal to 10px if the user agent stylesheet is set to 16px.
        Calculations will be much easier for the developer if 1rem == 10px
    (2) Ensuring the height of the html element does not prevent inner tags from expanding
    (3) Permanently enables the scrollbar to avoid rezising when moving between scrollable and non-scrollable pages on windows.
*/
html {
	font-size: 62.5%; /* (1) */
	height: 100%; /* (2) */
	width: 100%; /* (2) */
	overflow-y: scroll; /* (3) */
}

/*
    (1) Padding and border becomes a part of the entire elements width
    (2) Removes the default body margin
    (3) Ensuring the height of the body element does not prevent inner tags from expanding
    (4) Setting font-size back to the default user agent stylesheet (16px)
    (5) Adding fallback fonts
    (6) Setting font color to be a tiny bit lighter than black.
*/
body {
	box-sizing: border-box; /* (1) */
	margin: 0; /* (2) */
	height: 100%; /* (3) */
	width: 100%; /* (3) */
	font-size: 1.6rem; /* (4) */
	font-family: Arial, Helvetica, sans-serif; /* (5) */
	color: #1b1b1b; /* (6) */
}

/*
    Enable focus outline for keyboard users
*/
*:focus {
	outline: 2px solid gray;
	outline-offset: 3px	;
}

/* 
    Disable focus outline for not-tabbing users
*/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

/* 
    Preventing images from being wider than it's container by default 
*/
img {
	max-width: 100%;
}

/* 
    Making HTML5 elements work better in older browsers
*/
header, article, section, nav, aside, details, 
figcaption, footer, hgroup, menu, figure {
	display: block;
}